.leaflet-container {
    margin-top: 100px;
    width: 50%;
    height: 100vh;
    /* z-index: ; */
}

.basicmap {
    display: flex;
    /* flex-direction: column; */
}

.detail {
    flex: 0.5
}

.App {
    flex: 0.5
}